Source: sentencepiece
Priority: optional
Maintainer: Kentaro Hayashi <hayashi@clear-code.com>
Build-Depends:
 debhelper (>= 9),
 cmake,
 pkg-config,
 libgoogle-perftools-dev
Standards-Version: 4.1.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/sentencepiece
#Vcs-Git: https://salsa.debian.org/debian/sentencepiece.git

Package: libgoogle-sentencepiece-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgoogle-sentencepiece (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libgoogle-sentencepiece
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libgoogle-sentencepiece-tools
Architecture: any
Multi-Arch: same
Depends: libgoogle-sentencepiece (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
